{% extends 'admin/master.html' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="text-center">
                    <h1 class="mt-5">Admin Dashboard</h1>
                    <p class="lead">Welcome to the Admin Dashboard! Here, you have full control over the CRUD operations for vehicles, users, and reservations. Feel free to manage your resources efficiently and effortlessly.</p>
                    <p class="lead"> If you are a reservation representative you will only have access to the to the reservation tab.</p>
                </div>
    
            </div>
        </div>
    </div>
{% endblock %}

