{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Car Rental Agreement</h2>
    <hr>
    <h4>Rental Agreement Number: {{ rental_agreement.id }}</h4>
    <br>
    <p>This Rental Agreement ("Agreement") is entered into between Crazy Comrades Services, located at 1455 Blvd. De Maisonneuve Ouest, Montreal, Quebec H3G 1M8 , hereinafter referred to as the "Rental Company," and the individual or entity identified below, hereinafter referred to as the "Renter":</p>
    <br>
    <h5>1. Renter's Information:</h5>
    <p>
        <strong>Name:</strong> {{ renter.name }}<br>
        <strong>Email Address:</strong> {{ renter.email }}<br>
        <strong>Driver's License Number:</strong> {{ renter.driver_license }}<br>
    </p>
    <h5>2. Vehicle Information:</h5>
    <p>
        <strong>Type:</strong> {{ vehicle.type_car }}<br>
        <strong>Brand:</strong> {{ vehicle.brand }}<br>
        <strong>Year:</strong> {{ vehicle.year }}<br>
        <strong>Car Model</strong> {{ vehicle.car_model }}<br>
        <strong>Mileage</strong> {{ vehicle.mileage }}<br>
    </p>
    <h5>3. Rental Details:</h5>
    <p>
        <strong>Rental Start Date:</strong> {{ rental_agreement.pick_up_time }}<br>
        <strong>Rental End Date:</strong> {{ (rental_agreement.pick_up_time + rental_agreement.duration) }}<br>
        <strong>Pick-up Location:</strong> {{ rental_agreement.pick_up_location }}<br>
        <strong>Drop-off Location:</strong> {{ rental_agreement.drop_off_location }}<br>
        <strong>Rental Period in days:</strong> {{ rental_agreement.duration }}<br>
        <strong>Mileage Limit (if applicable):</strong> {{ rental_agreement.mileage_limit }}<br>
        <strong>Rental Price:</strong> ${{ rental_agreement.price }}<br>
        <strong>Additional Services (if any):</strong> {{ rental_agreement.additional_services }}<br>
    </p>
    <h5>4. Rental Terms and Conditions:</h5>
    <ul>
        <li>The Renter acknowledges receiving the vehicle described above in good condition and agrees to return it to the Rental Company in the same condition, subject to normal wear and tear.</li>
        <li>The Renter agrees to use the vehicle solely for personal or business purposes and not for any illegal activities.</li>
        <li>The Renter agrees to pay the Rental Company the agreed-upon rental rate for the specified rental period. Additional charges may apply for exceeding the mileage limit, late returns, fuel refueling, or other damages.</li>
        <li>The Renter agrees to bear all costs associated with traffic violations, tolls, and parking fines incurred during the rental period.</li>
        <li>The Renter acknowledges that they are responsible for any loss or damage to the vehicle, including theft, vandalism, accidents, or negligence, and agrees to reimburse the Rental Company for all repair or replacement costs.</li>
        <li>The Renter agrees to return the vehicle to the designated drop-off location at the agreed-upon date and time. Failure to do so may result in additional charges.</li>
        <li>The Rental Company reserves the right to terminate this agreement and repossess the vehicle without prior notice if the Renter breaches any terms or conditions of this agreement.</li>
        <li>The Renter acknowledges receiving and reviewing a copy of the vehicle's insurance coverage and agrees to comply with all insurance requirements during the rental period.</li>
    </ul>
    <h5>5. Indemnification:</h5>
    <p>The Renter agrees to indemnify and hold harmless the Rental Company, its employees, agents, and affiliates from any claims, liabilities, damages, or expenses arising out of or related to the Renter's use of the vehicle.</p>
    <h5>6. Governing Law:</h5>
    <p>This Agreement shall be governed by and construed in accordance with the laws of Quebec. Any disputes arising under or related to this Agreement shall be resolved exclusively by the courts of Quebec.</p>
    <h5>7. Entire Agreement:</h5>
    <p>This Agreement constitutes the entire understanding between the parties concerning the subject matter hereof and supersedes all prior agreements and understandings, whether written or oral.</p>
    <h5>8. Signatures:</h5>
    <p>The parties hereto have executed this Agreement as of the date first written above.</p>
    <form method="POST">
        <p>
            <strong>Rental Company:</strong><br>
            <strong>Signature:</strong> <img src="https://www.signwell.com/assets/vip-signatures/muhammad-ali-signature-3f9237f6fc48c3a04ba083117948e16ee7968aae521ae4ccebdfb8f22596ad22.svg" alt="Company Signature" style="max-width: 200px; max-height: 100px;"><br>
            <strong>Print Name:</strong> Crazy Comrades<br>
            <strong>Date:</strong> {{ rental_agreement.created_at }} <br>
        </p>
        <p>
            <strong>Renter:</strong><br>
            <strong>Signature:</strong> <input type="text" name="renter_signature" placeholder="Your Signature"><br>
            <strong>Print Name:</strong> {{ renter.name }}<br>
            <strong>Date:</strong> <input type="date" name="renter_date" placeholder="Date"><br>
        </p>
        <button type="submit">Confirm Agreement</button>
    </form>
    
</div>
{% endblock %}

